<style>
    #bigTable {
        background-color: #181864;
        position: relative;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
    }
    #championImage {
        margin-top: 19.92px;
    }
    .plot {
        padding-left: 31px;
    }
    #championImage, .plot {
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }
    .flexy {
        display: flex;
    }
    td {
        width: 150px;
    }
    .bigTableCell {
        height: 140px;
        padding: 20px;
        width: 100px;
    }
    p, h2 {
        text-align: center;
    }
    h2 {
        margin-top: 0px;
    }

    #skillLevelUpTable tr td {
        height: 24px;
        width: 24px;
        padding: 0px;
        text-align: center;
    }
    .selected {
        background-color: #8030C8;
    }
    .notSelected {
        background-color: #0C0C42;
    }

    .damageBar {
        height: 25px;
        width: 500px;
        background-color: black;
    }
    .damageBarContainer {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: solid 2px black;
        width: min-content;
    } 
    .championItems {
        width: 182px;
        height: 87px;
        padding: 5px;
        padding-left: 15px;
        padding: 20px;
        background-color: #242486;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        border: gray solid 2px;
    }
    .itemImage, .emptyItemSlot {
        width: 40px;
        border-radius: 25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); /*0.2 0.19*/
        height: 40px;
        background-color: rgb(18, 18, 18);
        position: relative;
        display: inline-block;
    }

    .overlayText {
        position: fixed;
        z-index: 2;
        background-color: rgb(30, 30, 30);
        display: none;
        transform: translateX(-50%);
        width: max-content;
    }

    .spacingRow {
        height: 50px;
    }

    .recommendedItems {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .recommendedItemIcon,
    .recommendedItemName, .simpleTD {
        padding-bottom: 0px !important ;
        height: auto !important ;
    }
    .simpleTD {
        padding: 0px !important;
        padding-left: 10px !important;
        width: auto !important;
    }
    .recommendedItemIcon img {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
    }
    .recommendedItemName {
        text-align: center;
    }
    .physicalSpan {
        color: #D1543B;
    }
    .magicSpan {
        color: #2EB4D5;
    }
    .trueSpan {
        color: #DCDDDD;
    }

    .itemPerMinuteContent {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: min-content;
    }
    .centered {
        width: max-content;
        transform: translate(-50%);
        left: 50%;
        position: relative;
    }
    .centering {
        text-align: center;
    }
    .padded {
        padding: 2px;
    }
    .timeImg {
        width: 60px;
        position: absolute;
        margin-left: 45px;
        top: 70px;
    }
</style>

{% include 'header.html' %}
<table id="bigTable">
    <tr class="spacingRow"></tr>
    <tr class="spacingRow"></tr>
    <tr>
        <td>
            <img id="championImage" src="{{'static\\icons\\champions\\' ~ championName ~ '.jpg' }}">
            <h2 stlye="margin-bottom: 0px;">{{ championName }}</h2>
        </td>
        <td>
            <p style="margin-top: 16px;">Winrate<br>Overall</p>
            {% if winrates[0] != -1 %}
                <p>{{ winrates[0] }}%</p>
            {% else %}
                <p>N/A</p>
            {% endif %}
        </td>
        <td>
            <img class="timeImg" src="../static/icons/morning.png">
            <p>Winrate<br>00:00 - 08:00</p>
            {% if winrates[1] != -1 %}
                <p>{{ winrates[1] }}%</p>
            {% else %}
                <p>N/A</p>
            {% endif %}
        </td>
        <td>
            <img class="timeImg" src="../static/icons/afternoon.png">
            <p>Winrate<br>08:00 - 16:00</p>
            {% if winrates[2] != -1 %}
                <p>{{ winrates[2] }}%</p>
            {% else %}
                <p>N/A</p>
            {% endif %}
        </td>
        <td>
            <img class="timeImg" src="../static/icons/night.png">
            <p>Winrate<br>16:00 - 00:00</p>
            {% if winrates[3] != -1 %}
                <p>{{ winrates[3] }}%</p>
            {% else %}
                <p>N/A</p>
            {% endif %}
        </td>
    </tr>
    <tr class="spacingRow"></tr>
    <tr>
        <td></td>
        <td colspan='2'>
            <div class="championItems">
                {% for i in range(4) %}
                    {% if championBuild[i] %}
                        <img class="itemImage" src="{{'https://cdn.darkintaqt.com/lol/c-assets/items/' ~ championBuild[i] ~ '.png.webp' }}" id="[{{i}}]">
                        <div class="overlayText" id="text_[{{i}}]">{{itemNames[i]}}</div>
                    {% else %}
                        <div class="emptyItemSlot"></div>
                    {% endif %}
                {% endfor %}
                <br>
                {% for i in range(3) %}
                    {% if championBuild[i+4] %}
                        <img class="itemImage" src="{{'https://cdn.darkintaqt.com/lol/c-assets/items/' ~ championBuild[i+4] ~ '.png.webp' }}" id="[{{i+4}}]">
                        <div class="overlayText" id="text_[{{i+4}}]">{{itemNames[i+4]}}</div>
                    {% else %}
                        <div class="emptyItemSlot"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </td>
        <td style="text-align: center;">
            <h2>Stats from items</h2>
            {% set ns = namespace(spacing = 1) %}
            {% for stat in buildStats %}
                {{buildStats[stat]}} <img src="https://wiki.leagueoflegends.com/en-us/images/thumb/{{stat}}_icon.png/15px-ad.png">
                {% set ns.spacing = ns.spacing * -1 %}
                {% if ns.spacing == 1 %}
                    <br>
                {% endif %}
            {% endfor %}
        </td>
        <td></td>
    </tr>
    <tr class="spacingRow"></tr>
    <tr>
        <td colspan="5">
            <div class="flexy centered">
                <div>
                    <h2>Max Order</h2>
                    <p>{{ order }}</p>
                </div>
                <div>
                    <table id="skillLevelUpTable">
                        {% for i in range(4) %}
                            <tr>
                                {% if i == 0 %}
                                    <td>Q</td>
                                    {% for j in range(championSkillLevels|length)%}
                                        {% if i+1 == (championSkillLevels[j])|int %}
                                            <td class="selected"></td>
                                        {% else %}
                                            <td class="notSelected"></td>
                                        {% endif %}
                                    {% endfor %}
                                {% elif i == 1 %}
                                    <td>W</td>
                                    {% for j in range(championSkillLevels|length)%}
                                        {% if i+1 == (championSkillLevels[j])|int %}
                                            <td class="selected"></td>
                                        {% else %}
                                            <td class="notSelected"></td>
                                        {% endif %}
                                    {% endfor %}
                                {% elif i == 2 %}
                                    <td>E</td>
                                    {% for j in range(championSkillLevels|length)%}
                                        {% if i+1 == (championSkillLevels[j])|int %}
                                            <td class="selected"></td>
                                        {% else %}
                                            <td class="notSelected"></td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <td>R</td>
                                    {% for j in range(championSkillLevels|length)%}
                                        {% if i+1 == (championSkillLevels[j])|int %}
                                            <td class="selected"></td>
                                        {% else %}
                                            <td class="notSelected"></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            {% for j in range(1, championSkillLevels|length + 1)%}
                                <td>
                                    {{ j }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <img class="plot" src="data:image/png;base64,{{ teamGoldPlot }}" alt="Plot Image">
        </td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: center;">
            {{ gameEvolution[0] }} <br> {{ gameEvolution[1] }}
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <img class="plot" src="data:image/png;base64,{{ playerGoldPlot }}" alt="Plot Image">
        </td>
    </tr>
    <tr class="spacingRow"></tr>
    <tr class="spacingRow"></tr>
    <tr>
        <td colspan="5" style="text-align: center;">
            Damage received during the match<br><br>
            {% set PDpercent = (100 * playerChampionStats["physicalDamageTaken"] / (playerChampionStats["physicalDamageTaken"] + playerChampionStats["magicDamageTaken"] + playerChampionStats["trueDamageTaken"]))|round(1) %}
            {% set MDpercent = (100 * playerChampionStats["magicDamageTaken"] / (playerChampionStats["physicalDamageTaken"] + playerChampionStats["magicDamageTaken"] + playerChampionStats["trueDamageTaken"]))|round(1) %}
            {% set TDpercent = (100 * playerChampionStats["trueDamageTaken"] / (playerChampionStats["physicalDamageTaken"] + playerChampionStats["magicDamageTaken"] + playerChampionStats["trueDamageTaken"]))|round(1) %}
            <div class="damageBarContainer">
                <div class="damageBar" style="background-image: linear-gradient(90deg, 
                    #D1543B 0% {{PDpercent-0.2}}%,
                    black {{PDpercent-0.2}}% {{PDpercent+0.2}}%,
                    #2EB4D5 {{PDpercent+0.2}}% {{PDpercent+MDpercent-0.2}}%,
                    black {{PDpercent+MDpercent-0.2}}% {{PDpercent+MDpercent+0.2}}%,
                    #DCDDDD {{PDpercent+MDpercent+0.2}}% 100%);
                    ">
                </div>
            </div><br>
            <span class="physicalSpan">{{PDpercent}}% Physical Damage</span>,
            <span class="magicSpan">{{MDpercent}}% Magic Damage</span>,
            <span class="trueSpan">{{TDpercent}}% True Damage</span>
        </td>
    </tr>
    <tr class="spacingRow"></tr>
    
    {% set shouldBuyAntiheal = False %}
    {% set ns = namespace(omnivamp = 0) %}
    {% for stats in enemyChampionStats[-1] %}
        {% set ns.omnivamp = ns.omnivamp + enemyChampionStats[-1][stats]["omnivamp"] %}
    {% endfor %}
    {{ ns.omnivamp }}
    {% if ns.omnivamp > 20 %}
        <tr><td colspan="5"><h1 class="centered">Recommendations:</h1></td></tr>
        <tr>
            <td colspan="5" style="text-align: center;">
                The enemy team has a combined value of {{ ns.omnivamp }}% omnivamp. <br>
                As a result, they have increased healing and are tougher to fight. <br>
                Buying <strong>Antiheal</strong> is recommended. <br><br>
                <table class="recommendedItems">
                    <tr>
                        <td class="recommendedItemIcon"><img src='https://cdn.darkintaqt.com/lol/c-assets/items/6609.png.webp'></td>
                        <td class="recommendedItemIcon"><img src='https://cdn.darkintaqt.com/lol/c-assets/items/3165.png.webp'></td>
                        <td class="recommendedItemIcon"><img src='https://cdn.darkintaqt.com/lol/c-assets/items/3075.png.webp'></td>
                    </tr>
                    <tr>
                        <td class="recommendedItemName">Chempunk<br>Chainsword</td>
                        <td class="recommendedItemName">Morellonomicon</td>
                        <td class="recommendedItemName">Thornmail</td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}

    <!-- <tr>
        <td colspan="5" style="text-align: center;">
            PLAYER BUILDS MAGIC RESIST EVEN THOUGH ENEMY DEALT MAINLY PHYSICAL DAMAGE
        </td>
    </tr> -->
    <tr class="spacingRow"></tr>
    <tr class="spacingRow"></tr>
    <tr>
        <td colspan="5" style="text-align: center;">
            <a id="deathsLink" href="{{url_for('deathDetails')}}?matchId={{ matchId }}&participant={{ participantId }}">
                <h2>See player deaths details</h2>
            </a>
        </td>
    </tr>
    
    <tr class="spacingRow"></tr>
    <tr class="spacingRow"></tr>
    
</table>
<script>
    const imgs = document.getElementsByClassName("itemImage");
    const overlays = document.getElementsByClassName("overlayText");
    for (let overlay of overlays) {
        console.log(overlay.id)
        overlay.style.left = (43 * (overlay.id[6] - 4 * Math.floor(overlay.id[6] / 4)) + 42) + "px";
        console.log(overlay.style.left)
    }
    for (let img of imgs)
        img.addEventListener("mouseover", () => {
            let id = "text_" + img.id
            document.getElementById(id).style.display = "block";
    })
    for (let img of imgs)
        img.addEventListener("mouseleave", () => {
            let id = "text_" + img.id
            document.getElementById(id).style.display = "none";
    })
</script>