<style>
    body {
        margin: 0px;
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background-color: rgb(18, 18, 18);
        color: rgb(200, 200, 200);
    }   
    #header {
        color: white;
        font-weight: bolder;
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        position: relative;
        background-color: #202020;
        width: 100vw;
        height: 100px;
        display: flex;
        z-index: 2;
    }
    #header div {
        position: absolute;
        height: 20px;
        font-size: 20px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #home {
        left: 2.5vw;
    }
    #username {
        left: 87vw;
    }
    #logout, #login {
        left: 95vw;
    }
    #logo {
        left: 50vw;
    }
    a {
        color: cyan;
    }

    .centered {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }
    .centering {
        text-align: center;
    }
    
    #searchBar {
        background-color: #303050;
        padding: 30px;
        padding-bottom: 15px;
        padding-top: 5px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
</style>

<div id="header">
    <div id="home"><a href="{{ url_for('index') }}">Home</a></div>
    <div id="logo">PCaGS</div>
    {% if username is defined %}
        <div id="username"> {{username}} </div>
        <div id="logout"><a href="{{ url_for('logout') }}">Log Out</a></div>
    {% else %}
        <div id="login"><a href="{{ url_for('login') }}">Log In</a></div>
    {% endif %}
</div>
<div id="searchBar" class="centered centering">
    <form action="{{ url_for('championStatistics') }}" method="GET">
        Search for a champion
        <br>
        <input name="champion">
    </form>

</div>