<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Scripts</title>
</head>
<body>
    {% include 'header.html' %}

    <h1>Run Python Scripts</h1>
    <a href="{{ url_for('searchForMatch') }}"><button>SearchForMatch</button></a>
    <a href="{{ url_for('lastGames') }}"><button>Get last 100 games</button></a>
    <button onclick="window.location.href='/run_script1'">Run licenta.py</button>
    <button onclick="window.location.href='/run_script2'">Run deathLocations.py</button>
</body>
</html>
