<html>
<head>
    <title>Register</title>
    <style>
        .centered {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
        }
    </style>
</head>
{% include 'header.html' %}
<div class="centered">
    <h2 class="centering">Register</h2>
    <div class="centered">
        <form method="POST">
            <table>
                <tr>
                    <td>Username</td>
                    <td></td>
                    <td>Tag</td>
                </tr>
                <tr>
                    <td><input name="username"></td>
                    <td>#</td>
                    <td><input name="riotTag" size="5"></td>
                </tr>
            </table>
            
            Region:
            <select name="region" id="region">
                <option value="eun">EUNE</option>
                <option value="euw">EUW</option>
                <option value="na">NA</option>
                <option value="kr">KR</option>
            </select><br><br>
            Password:&nbsp;
            <input id="passwordInput" type="password" name="password"><br>
            <input type="checkbox" onclick="showPassword()">Show Password <br><br>
            <input type="submit" value="Login" class="centered"><br>
        </form>
    </div>
    (The password doesn't have to be<br>
    the one used for your League account)<br>
    <p>{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}</p>
</div>

<script>
    function showPassword() {
        var element = document.getElementById("passwordInput");
        if (element.type === "password")
            element.type = "text";
        else
            element.type = "password";
    } 
</script>